extends layout

block content_layout
  table(align="center" border=1 width="400px").auth
    tr
      th
        h1 DropTableComix
         block content_authentication_head
    tr
      td
        block content_authentication
