extends layout

block content_auth
	div(id="bg")
		img(src="/images/background.png" alt="")
	div(class="container")
		div(class="row vertical-offset-100")
			div(class="col-md-4 col-md-offset-4")
				div(class="panel panel-primary panel-transparent")
					div(class="panel-heading panel-heading-custom")
						p(class="form-title") DropTableComix.
				div(class="panel panel-default")
					div(class="panel-heading")
						block content_authentication_head
					div(class="panel-body")
						form(accept-charset="UTF-8" role="form")
						block content_authentication
