extends pretty
- var comics_js = JSON.stringify(comics)

block content
	div(class="container")
		p(class="form-subtitle posrel") Change Password
		div(class="smallcenter opaquewhite")
			form(ng-init="comics=#{comics_js}")
			form(method='post', enctype='multipart/form-data', action='/changepassword' style = "text-align:center;")

				p(class="dashboard_a") -New Password-
				input(type="password" name="newpass" placeholder="Enter New Password...")
				p
				p(class="dashboard_b") -Confirm Password-
				input(type="password" name="confirmpass" placeholder="Confirm Password...")
				p
				p(class="dashboard_a") -Old Password-
				input(type="password" name="oldpass" placeholder="Enter Old Password...")
				p
				p
				input(type='submit')