extends pretty
- var comics_js = JSON.stringify(comics)

block content
	form(ng-init="comics=#{comics_js}")
	p(class="form-subtitle") Change Password
	form(method='post', enctype='multipart/form-data', action='/changepassword')

		p(class="dashboard_a") -New Password-
		input(type="password" name="newpass" placeholder="Enter New Password...")

		p(class="dashboard_b") -Confirm Password-
		input(type="password" name="confirmpass" placeholder="Confirm Password...")

		p(class="dashboard_a") -Old Password-
		input(type="password" name="oldpass" placeholder="Enter Old Password...")

		p
		input(type='submit')