extends pretty

block content
	p(class="form-subtitle") create comic
	form(class="smallcenter")
		p Comic name:
			input(type="text" class="form-control" ng-model="comic_name" placeholder="Enter name here")
		p Description:
			textarea(class="form-control noresize" type="text" rows="2" ng-model="comic_description" placeholder="Enter description here")
		button(class="btn btn-primary" ng-click = "create_comic()" ng-show = "comic_name.length>0") Create {{comic_name}} <br />
		p(ng-show="comic_name.length>0")
			font(color="gray" size="2") <br />URL: /accounts/{{username}}/comics/{{sanitizeName(comic_name)}}
		p
			font(color="red") {{response}}