extends pretty

block content
  h1.bannertext= stuff
  form
    p Comic
      input(type="text" ng-model="comic_name" placeholder="Enter name here")
    button(ng-click="create_comic()" ng-show="comic_name.length>0") Create {{comic_name}}
