extends pretty

block content
	h1.bannertext= Dashboard
	p Created Comics
	ul
		each comic, i in comics
			li
				a(href="/accounts/" + comic.creator + "/comics/" + comic.uri)= comic.title
	p Notifications 
	ul
		if(typeof(notifications) !== 'undefined')
			each notification, i in notifications
				li
					=notification

