extends comic

block content_comic
	h1.bannertext Edit #{comic_name}
	if (adminable)
		p
			a(href="/accounts/"+comic_creator+"/comics/"+comic_uri+"/admin") Admin Options
	p
		form(method='post', enctype='multipart/form-data', action= '/accounts/' + comic_creator + '/comics/' + comic_uri+"/panels")
			input(type='file', name='image' id='image_upload')
			input(type='submit')
	each pic, i in panels
		p
			img(src= "/accounts/"+comic_creator+"/comics/"+comic_uri+"/panels/"+pic, alt="panel "+i)
