extends authentication
block content_authentication_head
  h3(class="panel-title") Account Retrevial 

block content_authentication
  fieldset
    if (userexists == true) 
      p An email has been sent. Please check your inbox.
    else
      p Sorry, no user exists under that email 
    
    font(size="2")
      p(style="padding-top:10px")
        a(href="/auth/register") Registerate
        
      p
        font(size="2")
        p
          a(href="/auth/login") Sign In