 block content
	form(ng-init="comics=#{comics_js}")
	h1.bannertext = Change Password
	form(method='post', enctype='multipart/form-data', action='/forgotpassword')


		p Email
			input(type="email" name="email" placeholder="Enter Email...")
		p
			input(type='submit')