extends authentication

block content_authentication_head
  h3(class="panel-title") Please enter your email 

block content_authentication
  fieldset
    form(method='post' class="form-group" enctype='multipart/form-data' action= '/forgotpassword')
      input(class="form-control" name = "usernameoremail" type="text" placeholder="Enter your email")
      button(class="btn btn-md btn-success btn-block") Submit
    

    font(size="2")
      p(style="padding-top:10px")
        a(href="/auth/register") Registerate
        
      p
        font(size="2")
        p
          a(href="/auth/login") Sign In
   