extends pretty

block content
	h1.bannertext=comic_name
	a(href="/pretty/edit/" + comic_creator + "/" + comic_name, ng-show="isartist") Edit
	each pic, i in panels
		img(src= "\\" + pic.path alt="Search")