extends pretty

block content
	h1.bannertext=comic_name
	p
		a(href="/pretty/edit/" + comic_creator + "/comics/" + comic_uri, ng-show="isartist") Edit
	each pic, i in panels
		p
			img(src= "/pretty/"+comic_creator+"/comics/"+comic_uri+"/panels/"+pic, alt="panel "+i)
