doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/pretty.css')
    script(src="/jquery-2.2.0.min.js")
    script(src="/javascripts/searchform.js")
  body
    ul.headerbar
      li.headerlink
        a(href="/pretty/") Home
      li.headerlink
        a Comics
      ul.headerright
        li.headerlink
          a Sign In
        li.headerlink
          input(type=text, value="Search...", onkeypress="searchKeypress(event);" onfocus="searchFocusClear();").search#search
        li.headerlink
          a(href="javascript:searchSubmit();").lowpad
            img(src="/images/headerbar_icon_search.png" alt="Search")
    block content
