extends authentication

block content_authentication_head
  h2 Register

block content_authentication
  div(ng-app="authentication" ng-controller="authController")
    font(size="2")
      p Already have an account? 
        a(href="/auth/login") Sign in
        | .
    form
      p Username
        input(type="text" ng-model="auth_username" placeholder="Enter name here")
      p Email Address
        input(type="text" ng-model="auth_email" placeholder="myaddress@example.com")
      p Password
        input(type="password" ng-model="auth_password" placeholder="Password")
      p Confirm Password
        input(type="password" ng-model="auth_password_confirm" placeholder="Password")
      p Select User Type
        p
          input(type="radio" ng-model="auth_usertype" value="pleb")
          b  Pleb: 
          i you can view and subscribe to comics
        p
          input(type="radio" ng-model="auth_usertype" value="artist")
          b  Artist: 
          i you can create and contribute to comics
      button(ng-click="register()" ng-show="auth_username.length>0 && auth_usertype") Register as {{auth_username}}
    p
      font(color="red") {{response}}
