extends pretty

block content
  div(ng-app="authentication" ng-controller="authController")
    h1 register
    form
      p username
        input(type="text" ng-model="auth_username" placeholder="Enter name here")
      p password
        input(type="password" ng-model="auth_password" placeholder="Password")
      button(ng-click="register()") Register as {{username}}
    p
      font(color="red") {{response}}
