/*Footer at bottom with information*/
html,
body {
  margin:0;
  padding:0;
  height:100%;
}

#wrapperbottom{
  min-height:100%;
  position:relative;
}
#contentbottom{
  padding-bottom:150px; /* Height of the footer element */
}
#footerbottom{
  background:#242729;
  width:100%;
  height:150px;
  position:absolute;
  margin:auto;
  text-align: left;
  box-sizing: content-box;
  bottom:0;
  left:0;
  padding-top:20px;
  clear:both;
}
#footerbottom p{
  color:#b9bdc1;
}

#footerbottom #copyright {
  clear: both;
  padding-top: 10px;
  font-size: 11px;
  font-weight: 400;
  text-align:left;
  color:#767d84;
}

/* Comic card and Notifcation card on dashboard*/
.dashboardcomicbox {
  min-height:400px;
  max-height:500px;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  padding-left:15px;
  padding-bottom:15px;
  padding-right:15px;
  overflow:auto;
}

/*Profile card on dashboard*/

.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: wrap-content;
    max-width: 100%; // orginal twitter 
    width: 100%;
}
.twPc-bg {
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 95px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.twPc-divUser {
    margin: 10px 0 0;
}
.twPc-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}

/*login page*/

.vertical-offset-100
{
    padding-top:100px;
}

.panel.panel-primary{
  background-color: rgba(245,245,245,0);
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading-custom{
    background: rgba(0, 0, 0, 0)!important;
    border:0!important;
}

.panel-transparent .panel-body-custom{
    background: rgba(46, 51, 56, 0.2)!important;
}

.panel {
    border: 0!important;
}

.table > thead > tr > th, .table > thead > tr > td {
  border: 0!important;
}

.panel-default{
  opacity: 1!important;
}

.panel-default > .panel-body-custom
{
  background:#ff0000;
}

/*BACKGROUND IMAGE SETTINGS*/
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
}
.backgroundbody
{
    background: url('http://i.imgur.com/Xlg1N7E.jpg');
    background-size: cover;
}


.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

@font-face {
    font-family: 'Cornerstone';
    src:url('/fonts/Cornerstone.ttf'); 
}

p.form-title
{
    font-family: 'Cornerstone';
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 2.5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}
p.form-subtitle
{
    font-family: 'Cornerstone';
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 2.5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/*Small centered space createcomic*/
form.smallcenter
{
    padding:20px;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: wrap-content;
    width: 500px;
    margin: auto;
}
/*textarea styling*/
.noresize {
  resize:none;
}

textarea {
  min-height:100px;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}
.posted-by
{
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}



/*end of login page*/





ul.headerbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.headerright{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  float:right;
}

li.headerlink {
    float: left;
}

li.headerlink a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li.headerlink a.lowpad{
    padding: 4px 4px;
}

li.headerlink a:hover {
    background-color: #8b0;
}


table.auth {
  background-color:#ddf;
}
table.auth td {
  padding: 2px 8px 2px 8px;
}
a.share {
  color: gray;
  text-decoration: none;
  size: 2;
}

#page-area{
  border-style:solid;
  border-color:black;
  background-color:#262626;
  height:auto;
  align:left;
  display:inline-block;
}

/*Comment Section */
.commentcontainer {
  padding:0.01em 16px;
  border:1px solid black;
  background-color:#fdf5e6;
  background-size: 80px 60px;
  height: auto;
  max-height: 1000px;
  max-width: 900px;
  margin: auto;
  width: 75%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow:auto;
}

#commenttextarea {
  border:1px solid black;
  background-color: rgba(255,255,255,0.5);
  border-radius: 3px;
  max-width: 90%; 
}
.timestamp{
  font-size:10px;
  border-bottom:1px solid black;
}
.purplelevel{
  color: rgb(255, 0, 255); 
}

.bluelevel{
  color: blue;
}

.pleblevel{
  color: green;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: rgb(89, 89, 89);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 3px 16px;
    text-decoration: none;
    position: right;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(89, 89, 89, 0.7);
}