ul.headerbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.headerright{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  float:right;
}

li.headerlink {
    float: left;
}

li.headerlink a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li.headerlink a.lowpad{
    padding: 4px 4px;
}

li.headerlink a:hover {
    background-color: #8b0;
}

input.search {
  display: block;
  text-align: left;
  padding: 10px 11px;
  text-decoration: none;
  color: white;
  background-color:#111; 
}

table.auth {
  background-color:#ddf;
}
table.auth td {
  padding: 2px 8px 2px 8px;
}
a.share {
  color: gray;
  text-decoration: none;
  size: 2;
}

.commentcontainer {
  padding:0.01em 16px;
  border:1px solid black;
  background-color:#fdf5e6;
  background-size: 80px 60px;
  height: auto;
  max-height: 1000px;
  max-width: 900px;
  margin: auto;
  width: 75%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow:auto;
}

#commenttextarea {
  border:1px solid black;
  background-color: rgba(255,255,255,0.5);
  border-radius: 3px;
  max-width: 90%; 
}
.timestamp{
  font-size:10px;
  border-bottom:1px solid black;
}
.purplelevel{
  color: rgb(255, 0, 255); 
}

.bluelevel{
  color: blue;
}

.pleblevel{
  color: green;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: rgb(89, 89, 89);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 3px 16px;
    text-decoration: none;
    position: right;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(89, 89, 89, 0.7);
}
