ul.headerbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.headerright{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  float:right;
}

li.headerlink {
    float: left;
}

li.headerlink a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li.headerlink a.lowpad{
    padding: 4px 4px;
}

li.headerlink a:hover {
    background-color: #8b0;
}

input.search {
  display: block;
  text-align: left;
  padding: 10px 11px;
  text-decoration: none;
  color: white;
  background-color:#111; 
}

table.auth {
  background-color:#ddf;
}
table.auth td {
  padding: 2px 8px 2px 8px;
}
a.share {
  color: gray;
  text-decoration: none;
  size: 2;
}
